@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Raleway');

html, body {
  font-family: 'Raleway', 'Lato', sans-serif;
  font-size: 14px;
  color: #333;
}

.main-container {
	margin-top: 10%;
  	padding:10px 10px 90px 10px;
}

.navbar {
  margin: 0 auto;
  background-color: #ffffff;
  border: 0;
  font-family: 'Lato', 'Roboto', sans-serif;
  font-size: 1.5em !important;
  letter-spacing: 4px;
}

.navbar .navbar-na {
  text-align: center;
  float: none;
  vertical-align: middle;
  padding: 50px 0 30px;
  border-bottom: 1px solid #444;
  width: 85%;
  margin: auto;
}

.navbar .navbar-na li {
  display: inline-block !important;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-na li a, .navbar-na li a:hover, .navbar-na li a:visited {
  padding: 2px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  color: #444 !important;
  background-color: inherit;
  text-transform: uppercase;
}

.navbar-na li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #444;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.navbar-na li a:hover:before, .navbar li a:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-na li a.active:after {
  visibility: visible;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #444 !important;
}

.teammember-container {
	margin-bottom: 30px;
}

.teammember {
	background-color: #121212;
	border-radius: 50%;
	width: 210px;
	margin: auto;
}

.teammember img {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	vertical-align: middle;
}

.teammember span {
	position: absolute;
	top: 40%;
	font-size: 1.4em;
  font-family: 'Raleway', sans-serif;
	color: white;
	opacity: 0;
	display: block;
	text-align: center;
	width: 210px;
	padding: 10px 0;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.teammember:hover img {
	opacity: 0.3;
	cursor: pointer;
}

.teammember:hover span {
	opacity: 1;
}

p {
	word-wrap: break-word;
	text-align: justify;
	padding-top: 20px;
	font-size: 16px;
	line-height: 1.6em;
}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
}

footer {
  background-color: black;
  color: #fff;
  padding: 32px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

footer h3 {
  font-size: 1.2em
}

footer h3 {
  padding-bottom: 20px;
}

.btn-custom, .btn-newsletter {
  background-color: black;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #000000;
  font-size: 1em;
  padding: 10px;
}

footer a:hover {
  color: inherit;
}
